<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songguoliang.mybatis.mapper.UserMapper">


    <select id="getUsers" resultType="User">
        SELECT * FROM users
    </select>

    <select id="queryAge" resultType="Integer">
        SELECT user_age FROM users where user_id='2'
    </select>

</mapper>